name: Frontend CI/CD

on:
  push:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend.yml"
    branches: [ 'main' ]
  pull_request:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend.yml"
    branches: [ 'main' ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'frontend'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'

      # Install dependencies
      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      # Run build
      - name: Run build
        run: npm run build

      # Run tests (if available)
      - name: Run tests
        run: npm test || echo "No tests yet"
