name: Go Backend CI/CD

on:
  push:
    paths:
      - "go-backend/**"
      - ".github/workflows/go-backend.yml"
    branches: [ 'main' ]
  pull_request:
    paths:
      - "go-backend/**"
      - ".github/workflows/go-backend.yml"
    branches: [ 'main' ]
permissions: read-all
jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: go-backend
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: "1.25"
          cache-dependency-path: go-backend/go.sum

      - name: Download dependencies
        run: go mod download

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v7
        with:
          version: latest
          working-directory: go-backend

      - name: Build backend server
        run: go build -o server ./cmd/server/main.go

      - name: Run tests
        run: go test ./... || echo "No tests yet"
